

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --blue-100 : hsl(213, 96%, 18%);
  --blue-200 : hsl(243, 100%, 62%);
  --blue-300 : hsl(228, 100%, 84%);
  --blue-400 : hsl(206, 94%, 87%);
  --red-100 : hsl(354, 84%, 57%);
  --neutral-100: hsl(231, 11%, 63%);
  --neutral-200: hsl(229, 24%, 87%);
  --neutral-300: hsl(217, 100%, 97%);
  --neutral-400: hsl(231, 100%, 99%);
  --neutral-500: hsl(0, 0%, 100%);
}

